.bannerStyle{
    /* background: url('https://vietbh.github.io/lazi-store/img/hero-banner.jpg'), linear-gradient(to bottom, #0001, #000); */
    border-radius: 20px;
    --webkit-box-shadow: 0 10px 6px -6px #777;
    --moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 4px 10px 6px -6px #777;    
}
.linkStyle{
    background: url('https://vietbh.github.io/lazi-store/img/product-5.jpg');
}
.borderStyle{
    border-radius: 20px;
}
.heightImageProduct{
    height: 100%;
}
.borderProduct{
    border-radius: 30px;
}
.borderImageProduct{
    border-radius: 18px;
}
.paddingImageProduct{
    padding:12px
}
